@import 'variables'
@import 'utilities'

@include reset

    
#main-banner
    background: linear-gradient( rgba(0,0,0,.6), rgba(0, 0, 0, .7)),url('../img/psgpaulista.jpg')
    height: 100vh
    background-size: cover
    background-position: center
    background-attachment: fixed


    .nav-container
        display: flex
        justify-content: space-between
        position: fixed
        top: 0
        left: 0
        width: 100%
        padding: 1.5rem 2rem
        background-color: $black
        z-index: 10
        @include mobile
            justify-content: center

        .brand
            color: $light-color
            font-size: 2rem
            @include main-hover

        &-navbar
            display: flex
            align-items: center
            height: 100%
         

            li
                margin: 5px 10px

                a 
                    color: $light-color
                    @include main-hover
                        
        .fas.fa-bars
            font-size: 2rem
            color: #fff
            display: none

    .title-container
        color: $light-color
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        height: 100%

        @include mobile
            text-align: center
      

        h2
            font-size: 3rem
            @extend %title-text-shadow

        h1 
            font-size: 5rem
            margin-top: 4rem
            transform: translate(0px)
            @extend %title-animation

            @include mobile
                font-size: 3rem
                animation: none
                position: relative
                bottom: 2rem

            
        h4 
            margin-bottom: -1rem
            transform: translate(0px)
            @extend %title-animation
        

        .social-works
            margin: 0
            padding: 0
            position: relative
            top: 9.8rem
            display: block

            @include mobile
                top: 7rem

            .insta
                @include social-work
            .insta:hover
                color: #bc2a8d


            .lin
                @include social-work
            .lin:hover
                color: #0072b1

            .git
                @include social-work
                
            @include animation      
               


.services-container
    text-align: center
    padding: 2rem
    margin-bottom: 2rem

    h2
        @extend %section-title

        @include desktop
            margin-top: 4rem        

    .services-card-container
        display: flex
        flex-wrap: wrap
        justify-content: space-around
        padding: 2rem  
        

    .services-card
        width: 30%
        margin: 1%
        padding: 2rem
        border: 1px solid #CCC
        transition: .3s 

        @include tablet
            width: 40%

        @include mobile
            width: 100%
            flex-direction: column
        
        .fab.fa-js
            color:#F49F1C

        .fab.fa-html5
            color: #e44d26

        .fab.fa-css3-alt
            color: #0AC5D4

        .fab.fa-react
            color: #61dafb

        .fab.fa-node-js
            color: #84ba64

        .fab.fa-sass
            color: #bf4080

        i
            font-size: 4rem
            display: block
            margin-top: 1rem
            margin-bottom: 1.5rem 

        h3
            font-size: 1.5rem
            margin-bottom: 1rem

        p
            color: $text-color
        

        &:hover
            border: transparent
            box-shadow: 0 1px 10px #ccc
        

        

footer
    background-color: $footer-bg
    color: $text-color
    padding: 1rem 1rem


    .footer-copy-right-container
        width: 100%
        margin-top: 3rem
        text-align: center

        p
            margin-bottom: 1rem




        